<!-- Button trigger modal -->
<button id="modal-button" class="button" type="button" data-toggle="modal" data-target="#myModal">
Latest courses
</button>

<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog">
  <div class="modal-dialog">
<h4 class="modal-title">Latest courses</h4>

      <div class="modal-body">

      </div>
      <div class="modal-footer">
        <button type="button" class="button" data-dismiss="modal">Close</button>
      </div>

  </div>
</div>
