<body>
  <div id="nav">NAVIGATION
    <ul>
      <li><a href="./contact">CONTACT FORM</a></li>
      <li><a href="./courses">COURSES</a></li>
      <li><a href="./subscribers">SUBSCRIBERS</a></li>
    </ul>
  </div>
  <%- body %>

  <div id="footer">FOOTER</div>
</body>
