<body>
  <div id="nav">
    <ul>
      <li>
        <a href="/users">Users</a>
      </li>
      <li><a href="/courses">Courses</a></li>
      <li><a href="/subscribers">Subscribers</a></li>
    </ul>
  </div>
  <%- body %>


</body>
